<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'contact-bg.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>publier votre blog</h1>
                    <span class="subheading">Vous avez des questions ? J'ai les réponses.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>voulez-vous rester à jour? N'hésitez pas à publier votre blog et à consulter la liste des blogs!</p>
                <div class="my-5">
                <%= form_with(model: @blog, local: true, name: "sentMessage", id: "contactForm") do |form| %>
                    <div class="form-floating">
                        <%= form.text_field :title, placeholder: "Entrez le titre du blog...", class: "form-control", id: "inputTitle" %>
                        <label for="inputTitle">Title</label>
                    </div>
                    <div class="form-floating">
                        <%= form.text_field :description, placeholder: "Entrez la description du blog...", class: "form-control", id: "inputDescription" %>
                        <label for="inputDescription">Description</label>
                    </div>
                    <br />
                    <%= form.submit nil, class: "btn btn-primary text-uppercase" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</main>