<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">Un thème de blog par la classe ujkz</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
        <p id="notice"><%= notice %></p>  
        <% @blogs.each do |blog| %>
          <!-- Post preview-->
            <div class="post-preview">
              <%= link_to blog_path(blog) do %>
                <h2 class="post-title"><%= blog.title %></h2>
                <h3 class="post-subtitle"><%= blog.description %></h3>
              <% end %>
              <p class="post-meta">Publié par
                <a href="#">ujkz class</a>
                en mars <%= time_ago_in_words(blog.created_at) %>
              </p>
              <p class="post-meta">
              <td><%= link_to 'Modifier', edit_blog_path(blog) %></td>
              <td><%= link_to 'supprimer', blog, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
              </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
          <% end %>
        </div>
    </div>
</div>